/*///////////////////////// GENERALES /////////////////////////*/

body {
  font-family: 'Source Sans Pro',
    sans-serif;
  color: #464646;
}

section {
  overflow: hidden !important;
}

.shadow-sm {
  box-shadow: -1px 1px 11px -4px rgba(0, 0, 0, 0.71) !important;
  -webkit-box-shadow: -1px 1px 11px -4px rgba(0, 0, 0, 0.71) !important;
  -moz-box-shadow: -1px 1px 11px -4px rgba(0, 0, 0, 0.71) !important;
}

h1 {
  font-size: 56px;
  line-height: 1;
}

h2 {
  font-size: 50px;
  line-height: 1;
}

.lh-100 {
  line-height: 1;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-32 {
  font-size: 32px;
}

.fs-36 {
  font-size: 36px;
}

.btn {
  border-radius: 35px;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 18px;
}

.btn-primary {
  background: #6ABB45 !important;
  color: #fff;
  border: 2px solid #6ABB45 !important;
  transition: all ease .25s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #3c831b !important;
  color: #fff !important;
  border: 2px solid #3c831b !important;
  transition: all ease .25s;
  box-shadow: none !important;

}

.primary {
  color: #6ABB45 !important;
}

.primary-bg {
  background: #6ABB45 !important;
}

/* Header */

.menu {
  background-color: transparent;
  -webkit-transition: background 0.3s 0s linear;
  -moz-transition: background 0.3s 0s linear;
  -o-transition: background 0.3s 0s linear;
  transition: background 0.3s 0s linear;
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
}

.header-logo {
  background-image: url("../images/header-white-logo.svg");
  width: 195px;
  height: 108px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.navbar {
  padding: 25px 0px !important;
}

.header-text {
  font-size: 30px;
}

.header-overlay {
  width: 100%;
  height: 150px;
  position: absolute;
  top: 0;
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.15) 30%, #041A29);
  background: linear-gradient(0deg, transparent 0, rgba(0, 0, 0, 0.15) 30%, #041A29);
  z-index: 2;
  opacity: .7;
}


/* MAIN */

.main-section {
  background: url("../images/main-bg.jpg") #fff;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
  color: white;
  display: flex;
  align-items: center;
}

.divider {
  width: 50%;
  height: 2px;
  background-color: #6ABB45;
}

.form-container {
  background-color: white;
  border-radius: 30px;
  padding: 30px;
  color: #464646;
  width: 100%;
}

.form-control {
  border: 1px solid #C7C7C7;
  border-radius: 10px;
  transition: .3s;
}

.form-control:focus {
  border: 1px solid #5C9741;
  box-shadow: none;
}

.form-btn {
  border-radius: 10px;
}

.form-divider {
  width: 100%;
  height: 1px;
  background-color: #C7C7C7;
  position: relative;
  margin-bottom: 8px;
}

.form-divider::after {
  content: "";
  height: 3px;
  width: 60%;
  background-color: #5C9741;
  position: absolute;
  bottom: 0;
}

.tratamientos {
  background: url("../images/tratamientos-bg.svg") #fff;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: visible;
  padding: 300px 0px 550px 0px;
}

/* Video */
.play-icon {
  position: absolute;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.play-icon img {
  width: 120px;
  height: 120px;
}

.translate-img {
  margin-top: -400px;
}

.card {
  border-radius: 20px;
  border: none !important
}

.gallery-item-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-overlay {
  width: 100%;
  height: 100%;
  background-color: #6abb45b4;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gallery-item-container:hover .gallery-overlay {
  opacity: 1;
}

.gallery-overlay img {
  width: 30px;
  height: 30px;
}

/* FOOTER */
footer {
  background: #464646;
  padding: 40px 0px 85px 0px;
  position: relative;
}

.copyright {
  background-color: #0000002d;
  position: absolute;
  bottom: 0;
  font-size: 16px;
}

/* RESPONSIVE */

@media (max-width: 768px) {

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 42px;
  }

  .main-section {
    padding: 120px 0px;
  }

  .form-container {
    margin-top: 25px;
  }

  .dermo-light,
  .tratamientos {
    text-align: center;
  }

}

@media (max-width: 525px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 30px;
  }

  .header-text {
    font-size: 20px;
    text-align: right;
  }

  .main-section {
    padding: 130px 0px;
  }

  .dermolaser {
    max-width: 300px;
  }

  .thumb {
    min-height: 300px;
    object-fit: cover;
    border-radius: 30px;
  }

  .about {
    text-align: center;
  }

  footer .row .col-12 {
    justify-content: center !important;

  }

}
